@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #DF8D03;
	--dark-color-b: #EC9D00;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #be130f;
}

* {
	box-sizing: border-box;
}

.join-main {
	padding: 15px 20px;
	background: var(--dark-color-b);
}

.dark-color-b {
	background: var(--dark-color-b);
}
.dark-color-a {
	background: var(--dark-color-a);
}


.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}
